/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

#container {
  background-color: black;
  height: 100vh;
  width: 100vw;
}
