#container {
  height: 100vh;
  background-image: url('../images/band5.PNG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 800px 1600px;
}

@media (max-width: 768px) {
  #container {
    background-image: url('../images/band5.PNG');
    background-size: 1000px 2000px;
  }
}
