.img-fluid {
  width: 100%;
  height: auto;
}

#image-row {
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  padding-left: 1.375em;
}

#home-container {
  height: 100vh;
}
